.header {
    width: 100%;
}

.cs-player {
    display: flex;
    align-items: flex-end;
}

.cs-player__track-display {
    display: flex;
    align-items: flex-end;
}

.cs-player__titled-progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cs-player__time {
    margin: 0 16px 6px 16px;
    user-select: none;
    pointer-events: none;
}

.cs-click-zone {
    padding: 12px 0;
    cursor: pointer;
    touch-action: none;
    user-select: none;
}

.cs-range-bar {
    height: 8px;
    border-radius: 4px;
    background-color: grey;
    will-change: background-image;
}

.cs-progress-bar {
    width: 50vw;
}

.cs-volume-bar {
    width: 10vw;
}

.cs-range-bar__knob {
    pointer-events: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color:white;
    border: 2px solid purple;
    will-change: transform;
    box-sizing: border-box;
}